body {
    margin: 0%;
    font-family: 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#section_gameContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#canvas_playArea {
    background-color: aquamarine;
    margin: 0%;
}

header {
    background-color: rgb(250, 250, 250);
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background-color: rgb(196, 196, 196);
    padding-left: 15px;
    padding-right: 15px;
}